.buttonBack {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
}

.icon {
  margin-right: 8px;
}

.buttonBackText {
  color: #637083;
}

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageContent {
  width: 67vw;
  margin-top: 50px;
}

.filmInfo {
  margin-top: 20px;
}