.leftMenu {
  display: flex;
  align-items: center;

  li:not(:last-child) {
    margin-right: 35px;
  }
}

.menuItemsList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 67vw;
  padding: 25px 0;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: center;
}