.container {
  display: flex;
  flex-direction: row;
}

.imageContainer {
  position: relative;
  height: 100%;
  min-width: 300px;
  max-width: 300px;
  overflow: hidden;
  border-bottom-left-radius: 10px;
  margin-right: 35px;

  img {
    width: 300px;
    height: 100%;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    object-fit: cover;
  }
}

.descriptionContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

  div {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.description {
  display: flex;
  flex-direction: row;
}

.uncoverButton {
  padding: 0;
  width: fit-content;
  margin-left: 8px;
}

.infolabelHolder {
  margin-bottom: -10px;
}
